<div class="container animated fadeIn col-md-10 col-md-offset-1">
	<h3 class="text-center" style="color: #659DBD">{{ 'GALLERY.TITLE' | translate }}</h3>
    <hr>
    <div class="row">
		<div class="gallery col-xl-4 col-lg-4 col-md-6" *ngFor="let item of firstImgArr">
			<a [href]=item.src data-lightbox="example-1">
			    <img [src]=item.thumb>
			</a>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="gallery col-xl-3 col-lg-4 col-md-6" *ngFor="let item of imgArr">
			<a [href]=item.src data-lightbox="example-1">
			    <img [src]=item.thumb>
			</a>
		</div>
	</div>
</div>