<div class="container animated fadeIn">
  <h3 class="text-center page-title">{{ 'RESERVATION.TITLE' | translate }}</h3>
  <hr>
  <div class="jumbotron jumbotron-fluid">
      <form class="reservation-form col-md-12 col-md-offset-1">
        <div class="form-group">
          <label for="inputName">{{ 'RESERVATION.NAME' | translate }}</label>
          <input type="text" class="form-control" id="inputName" aria-describedby="name" placeholder="Introduce tu nombre" required="">
        </div>
        <div class="form-group">
          <label for="inputSurname">{{ 'RESERVATION.SURNAME' | translate }}</label>
          <input type="text" class="form-control" id="inputSurname" aria-describedby="surname" placeholder="Introduce tus apellidos" required>
        </div>
        <div class="form-group">
          <label for="inputEmail">{{ 'RESERVATION.EMAIL' | translate }}</label>
          <input type="text" class="form-control" id="inputEmail" aria-describedby="email" placeholder="Introduce tu email" required>
        </div>
        <div class="form-group">
          <label for="from-date">{{ 'RESERVATION.CHECKINDATE' | translate }}</label>
          <input type="date" class="form-control" id="fromDate" aria-describedby="fromDate" style="width: 35%" required>
        </div>
        <div class="form-group">
          <label for="to-date">{{ 'RESERVATION.CHECKOUTDATE' | translate }}</label>
          <input type="date" class="form-control" id="toDate" aria-describedby="toDate" style="width: 35%" required>
        </div>
        <div class="form-group">
          <label for="exampleSelect1">{{ 'RESERVATION.ROOMS' | translate }}</label>
          <select class="form-control" id="exampleSelect1" style="width: 35%" required>
            <option value="" disabled hidden selected>{{ 'RESERVATION.SELECT' | translate }}</option>
            <option>1 habitación</option>
            <option>2 habitaciones</option>
            <option>3 habitaciones</option>
            <option>4 habitaciones</option>
            <option>Sin especificarr</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleTextarea">{{ 'RESERVATION.ADITIONALCOMMENTS' | translate }}</label>
          <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" required>
            {{ 'RESERVATION.ACCEPT' | translate }} <a style="color:#FBEEC1" [routerLink]="['/termsandconditions']" target="_blank">{{ 'RESERVATION.TERMS' | translate }}</a> {{ 'RESERVATION.RESERVATION' | translate }}
          </label>
        </div>
        <br>
        <button type="submit" class="btn text-center" style="background-color: #FBEEC1; color: #224e34c9">{{ 'RESERVATION.SEND' | translate }}</button>
      </form>
  </div>
</div>