<div class="container animated fadeIn col-md-8 col-md-offset-1">
  <div class="jumbotron jumbotron-fluid">
    <form class="reservation-form animated fadeIn col-md-10 md-offset-1">
      <div class="form-group">
        <label for="inputName">{{ 'RESERVATION.NAME' | translate }}</label>
        <input type="text" class="form-control" id="inputName" aria-describedby="name" placeholder="Introduce tu nombre">
      </div>
      <div class="form-group">
        <label for="inputSurname">{{ 'RESERVATION.SURNAME' | translate }}</label>
        <input type="text" class="form-control" id="inputSurname" aria-describedby="surname" placeholder="Introduce tus apellidos">
      </div>
      <div class="form-group">
        <label for="from-date">Fecha de entrada</label>
        <input type="date" class="form-control" id="fromDate" aria-describedby="fromDate" style="width: 35%">
      </div>
      <div class="form-group">
        <label for="to-date">Fecha de salida</label>
        <input type="date" class="form-control" id="toDate" aria-describedby="toDate" style="width: 35%">
      </div>
      <div class="form-group">
        <label for="exampleSelect1">Número de habitaciones</label>
        <select class="form-control" id="exampleSelect1" style="width: 35%">
          <option>1 habitación</option>
          <option>2 habitaciones</option>
          <option>3 habitaciones</option>
          <option>4 habitaciones</option>
          <option>Sin especificar</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleTextarea">Comentarios adicionales</label>
        <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input">
          Acepto los <a href="">términos y condiciones</a> de la reserva.
        </label>
      </div>
      <br>
      <button type="submit" class="btn btn-primary" style="background-color: #FBEEC1; color: #BC986A">Enviar</button>
    </form>
  </div>
</div>