<div class="jumbotron jumbotron-fluid home-container">
    <hr class="newStyle">
    <div class="text-center">
      <img [src]=logo width="70%" height="auto">
    </div>
    <hr class="newStyle">
    <h1 class="main-title text-center">{{ 'HOME.MAINTITLE' | translate }}</h1>
  	<hr class="newStyle">
  	<div class="row">
  		<div class="home-gallery col-xl-4 col-lg-4 col-md-6" *ngFor="let item of imageArray">
          <a [href]=item.src data-lightbox="frontage-1">
            <img [src]=item.thumb>
        </a>
  		</div>
  	</div>
  	<hr class="newStyle">

  <br>
  <div class="container">
  	<div class="row">
  		<div class="home-image offset-xl-1 offset-lg-1 col-xl-5 col-lg-5">
  			<a [href]=frontage1 data-lightbox="frontage-2">
            <img [src]=frontage1>
        </a>
  		</div>
  		<div class="col-xl-6 col-lg-6">
  			<p style="font-size: 14px"> Situada en el pueblo de "O Reto", a 20 km. de Monfero, Casa Xaime ofrece una estancia en un entorno natural único. 
  			</p>
  			<p style="font-size: 14px"> Nuestra casa rural ofrece multitud de servicios, como alojamiento, comida, actividades nocturas, reuniones de negocios, así como actividades de exterior como paseos por el monte en Quado rutas a caballo.
  			</p>
  			<p style="font-size: 14px"> Disponemos de 50 plazas en un alojamiento cómodo y confortable ideal para una escapada con familia o amigos.
  			</p>
  		</div>
  	</div>
  	<br>
  </div>
</div>
