<div class="animated fadeIn jumbotron jumbotron-fluid">
  <div class="container">
  	<h1 class="main-title text-center">Casa Xaime</h1>
  	<hr class="newStyle">
  	<div class="row">
  		<div class="col text-center">
  			<img class="main-images" [src]='mainImage1' height="200" width="300">
  		</div>
  		<div class="col text-center">
  			<img class="main-images" [src]='mainImage2' height="200" width="300">
  		</div>
  		<div class="col text-center">
  		  <img class="main-images" [src]='mainImage3' height="200" width="300">
  		</div>
  	</div>
  	<hr class="newStyle">
  </div>
  <br>
  <div class="container">
  	<div class="row">
  		<div class="offset-md-3">
  			<img class="main-images" [src]='frontage1' height="220" width="280">
  		</div>
  		<div class="col">
  			<p style="font-size: 14px"> Situada en el pueblo de "O Reto", a 20 km. de Monfero, Casa Xaime ofrece una estancia en un entorno natural único. 
  			</p>
  			<p style="font-size: 14px"> Nuestra casa rural ofrece multitud de servicios, como alojamiento, comida, actividades nocturas, reuniones de negocios, así como actividades de exterior como paseos por el monte en Quado rutas a caballo.
  			</p>
  			<p style="font-size: 14px"> Disponemos de 50 plazas en un alojamiento cómodo y confortable ideal para una escapada con familia o amigos.
  			</p>
  		</div>
  	</div>
  	<br>
  </div>
</div>