<div class="container animated fadeIn">
	<h3 class="text-center page-title">{{ 'PRICING.TITLE' | translate }}</h3>
	<hr>
	<table class="table table-striped" style="color: #224e34c9">
		<thead class="thead-inverse">
		   <tr>
		      	<th width="54%">{{ 'PRICING.SERVICE_TYPE' | translate }}</th>
		      	<th class="text-center" width="23%">{{ 'PRICING.REGULAR_DAYS' | translate }}</th>
		      	<th class="text-center" width="23%">{{ 'PRICING.HOLYDAY_DAYS' | translate }}</th>
		    </tr>
		</thead>
		<tbody>
		    <tr>
		      	<td>{{ 'PRICING.ROW_1' | translate }}</td>
		      	<td class="text-center">- €/{{ 'PRICING.NIGHT' | translate }}</td>
		      	<td class="text-center">- €/{{ 'PRICING.NIGHT' | translate }}</td>
		    </tr>
		    <tr>
		      	<td>{{ 'PRICING.ROW_2' | translate }}</td>
		      	<td class="text-center">- €/{{ 'PRICING.NIGHT' | translate }}</td>
		      	<td class="text-center">- €/{{ 'PRICING.NIGHT' | translate }}</td>
		    </tr>
		    <tr>
		      	<td>{{ 'PRICING.ROW_3' | translate }}</td>
		      	<td class="text-center">- €/{{ 'PRICING.NIGHT' | translate }}</td>
		      	<td class="text-center">- €/{{ 'PRICING.NIGHT' | translate }}</td>
		    </tr>
		    <tr>
		      	<td>{{ 'PRICING.ROW_4' | translate }}</td>
		      	<td class="text-center">- €/{{ 'PRICING.NIGHT' | translate }}</td>
		      	<td class="text-center">- €/{{ 'PRICING.NIGHT' | translate }}</td>
		    </tr>
		    <tr>
		      	<td>{{ 'PRICING.ROW_5' | translate }}</td>
		      	<td class="text-center">- €/{{ 'PRICING.PERSON' | translate }}</td>
		      	<td class="text-center">- €/{{ 'PRICING.PERSON' | translate }}</td>
		    </tr>
		    <tr>
		      	<td>{{ 'PRICING.ROW_6' | translate }}</td>
		      	<td class="text-center">- €/{{ 'PRICING.PERSON' | translate }}</td>
		      	<td class="text-center">- €/{{ 'PRICING.PERSON' | translate }}</td>
		    </tr>
		    <tr>
		    	<td class="text-center" colspan="3"><b>{{ 'PRICING.TAX_TEXT' | translate }}</b></td>
		    </tr>
		</tbody>
	</table>
	<hr>
	<div class="jumbotron jumbotron-fluid pricing-data">
		<div style="margin: 20px;">
			<p>{{ 'PRICING.PARAGRAPH_1' | translate }}</p>
			<p>{{ 'PRICING.PARAGRAPH_2' | translate }}</p>
			<p>{{ 'PRICING.PARAGRAPH_3' | translate }}</p>
			<p>{{ 'PRICING.PARAGRAPH_4' | translate }}</p>
		</div>
	</div>
</div>