<div class="container animated fadeIn">
	<h3 class="text-center page-title">{{ 'PRICING.TITLE' | translate }}</h3>
	<div class="container">
		<hr>
		<table class="table table-striped" style="color: #224e34c9">
		  	<thead class="thead-inverse">
		    	<tr>
		      		<th width="66%">Tipo de servicio</th>
		      		<th class="text-center" width="17%">Precio días regulares</th>
		      		<th class="text-center" width="17%">Precio días festivos</th>
		    	</tr>
			</thead>
		  	<tbody>
		    	<tr>
		      		<td>Habitación simple</td>
		      		<td class="text-center"> - €/noche</td>
		      		<td class="text-center"> - €/noche</td>
		    	</tr>
		    	<tr>
		      		<td>Habitación doble c/baño (camas individuales)</td>
		      		<td class="text-center"> - €/noche</td>
		      		<td class="text-center"> - €/noche</td>
		    	</tr>
		    	<tr>
		      		<td>Habitación doble c/baño (cama matrimonio)</td>
		      		<td class="text-center"> - €/noche</td>
		      		<td class="text-center"> - €/noche</td>
		    	</tr>
		    	<tr>
		      		<td>Apartamento completo (3 habitaciones, 2 baños y cocina)</td>
		      		<td class="text-center"> - €/noche</td>
		      		<td class="text-center"> - €/noche</td>
		    	</tr>
		    	<tr>
		      		<td>Desayuno</td>
		      		<td class="text-center"> - €/persona</td>
		      		<td class="text-center"> - €/persona</td>
		    	</tr>
		    	<tr>
		      		<td>Comida o cena</td>
		      		<td class="text-center"> - €/persona</td>
		      		<td class="text-center"> - €/persona</td>
		    	</tr>
		    	<tr>
		    		<td class="text-center" colspan="3"><b>Todos los precios incluyen el 10% de IVA</b></td>
		    	</tr>
		  	</tbody>
		</table>
		<hr>
	</div>
	<div class="container">
		<div class="jumbotron jumbotron-fluid pricing-data">
			<div style="font-size: 14px; margin: 20px;">
				<p>La entrada se realizará a partir de las 12:00 de la mañana y la salida será antes de las 14:00 del mediodía, salvo aviso especial.</p>
				<p>Los precios son susceptibles de cambios en festivos locales y nacionales.</p>
				<p>Para una reserva superior a 1 semana, será necesario contactar con la dirección y recibir una confirmación por email o por teléfono.</p>
				<p>A la hora de ralizar una reserva, será necesario hacer un depósito cuya cuantía será indicada antes de realizarla, y que será devuelta mediante transferencia bancaria al día siguiente de abandonar el alojamiento, siempre y cuando se haya comprobado que no han habido desperfectos.</p>
			</div>
		</div>
	</div>
</div>