<h3 class="text-center page-title">{{ 'SERVICES.TITLE' | translate }}</h3><hr>
<div class="jumbotron jumbotron-fluid">
	<div class="container service-container">
		<ul class="list-group service-list" *ngFor="let item of serviceList">
			<li (click)="item.show = !item.show" class="list-group-item service-item">
				<span>
					<img [src]=item.icon width="50" height="40">
				</span>
				<span>
					{{ item.title }}
				</span>
				<span class="pull-right" *ngIf="!item.show">
					<i class="fa fa-minus-circle" aria-hidden="true"></i>
				</span>
				<span class="pull-right" *ngIf="item.show">
					<i class="fa fa-plus-circle" aria-hidden="true"></i>
				</span>
				<div class="animated fadeIn col-md-10 offset-md-2" *ngIf="!item.show">
					<br>
					<p class="serviceList" >
						{{ item.description }}
					</p>
				</div>
			</li>
		</ul>
	</div>
</div>