<div class="">
	<h3 class="text-center page-title">{{ 'THEHOUSE.TITLE' | translate }}</h3>
	<hr>
	<div class="jumbotron jumbotron-fluid">
		<p style="font-size: 14px; margin:20px"> 
			Situada en la localidad de Monfero, Casa Xaime ofrece un entorno natural único, rodeado de naturaleza, ideal para actividades al aire libre.
		</p>
		<br>
		<div class="row">
			<div class="col-md-10 offset-md-1">
				<table class="table table-striped">
					<tr *ngFor="let item of activities">
						<td class="text-center" style="vertical-align: middle;"><img [src]=item.image width="50" height="50" style="filter: invert(100%)"></td>
						<td></td>
						<td></td>
						<td>
							<p style="font-size: 16px">
								<u>{{ item.title }}</u>
							</p>
							<p style="font-size: 12px">
								{{ item.description }}
							</p>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>