<div class="animated fadeIn container house-container">
	<div class="row">
		<div class="col text-center">
			<img [src]='mainImage1' width="800" height="500" style="border-radius: 5px;">
		</div>
	</div>
	<br>
    <div class="row">
        <div class="offset-2 text-center">
          <div id="map" style="width:650px;height:400px; margin-left: 50px; border-radius: 5px;"></div>
      	</div>
    </div>
    <br>
    <hr>
	<div class="jumbotron jumbotron-fluid">
		<div class="row" style="margin-left: 15px; margin-right: 15px;">
			<p style="font-size: 14px"> 
				En esta pintoresca villa existió población romana, a juzgar por los vestigios y ruinas que de ella se conservan, como restos de fuertes murallas, hondos subterráneos (hoy en día anegados de escombro y hormigón) donde se encontraron piezas Quiritis, eslabones de cadenas, algunos barros saguntinos y otros que aun perduran como de carácter romano. Se cree que las minas de agua de Fuente Mayor fueron hechas por romanos y la conducción de sus aguas hasta el río Júcar y que esta recogía otras muchas aguas de las fuentes que manaban a su paso. Las obras de las minas y la construcción de la acequia subterránea fue dirigida por un geólogo hijo del pueblo, llamado Octavio Freyret García, de padre romano y madre natural de nuestra villa.
			</p>
			<p style="font-size: 14px">
				Esta histórica y legendaria fortaleza, también denominada Pared, fue derrumbada por el año 1920, por encontrarse en peligro de derrubio, pero por aquellos entonces no pensaron en el baluarte histórico que iba a desaparecer. Testigo de tantas batallas, de tantos orígenes de tantas culturas, de tanto devenir…
			</p>
			<p style="font-size: 14px">
				Otros grandes carceleneros fueron por ejemplo D. Plácido González Duarte, nació en Carcelén en 1898, fue tan grande como lo fueron otros en esa generación de genios, médico de la Casa Real, de Alfonso XIII, hijo predilecto de Carcelén.
				Otra gran figura fue D. Esteban Gómez Gil, Subsecretario del Ministro de Justicia durante el mandato de Francisco Franco. A este se le debe la construcción de dos grandes balsas de riego que en su momento fue un gran adelanto para Carcelén y también la reconstrucción del campanario de la iglesia, de cruz latina similar al siglo XV.
				Con estas y otras anécdotas, e aquí un pequeño relato de un pueblo con una gran historia. Historia tal, que ni Cervantes quiso dejar pasar en su increíble libro de El Quijote y, como no con sus costumbres manchegas, los hay “Sanchos” y los hay “Quijotes”. 
			</p>
		</div>
	</div>
</div>