<div class="container animated fadeIn">
	<h3 class="animated fadeIn text-center page-title">{{ 'PRIVACYPOLICY.TITLE' | translate }}</h3>
	<hr>
	<div class="jumbotron jumbotron-fluid" style="font-size: 14px; padding:20px">

		<p>El Usuario que facilite datos personales a través de esta página web queda informado de su incorporación a los ficheros de </p>
		<p>Estos datos podrán ser tratados para:</p>
		<p></p>

		<ul style="color: white;">
			<li>Contactar con el Usuario y dar respuesta a su petición de información o consulta y realizar un seguimiento posterior.</li>
			<li>Gestionar, en su caso, si procede, su pedido y llevar a cabo la entrega de bienes o prestación de servicio contratada por el Usuario, su facturación y cobro.</li>
			<li>Gestionar y controlar la cartera de clientes.</li>
			<li>Gestionar, en su caso, si procede, el proceso de registro del Usuario en la página web.</li>
			<li>Realizar, en su caso, el perfil de Usuario para ofrecerle contenidos de una manera personalizada.</li>
			<li>Gestionar, en su caso, las cuentas de Usuario de la página web y las posteriores modificaciones que él realice.</li>
		</ul>
		<p>Salvo que el Usuario comunique su voluntad en contra, a la dirección de correo electrónico info@casaxaime.com, sus datos podrán ser utilizados, en su caso, si procede, para el envío de información comercial de Casa Xaime.</p>

		<p>Los datos personales del Usuario no serán comunicados a terceros, salvo aquellas comunicaciones que tuvieran que hacerse a las autoridades en caso de que el Usuario hubiera realizado acciones contrarias a la Ley o infringido el contenido del aviso legal.</p>

		<p>El Usuario es responsable de que lainformación que proporcione a través de esta página web sea cierta, respondiendo de la veracidad de todos los datos que comunique y mantendrá actualizada la misma para que respondan a una situación real, siendo responsable de informaciones falsas o inexactas que proporcione y de los daños, molestias y problemas que pudieran causar a Casa Xaime o a terceros.</p>

		<p>Sin perjuicio de lo anterior, dicha información será guardada y gestionada con la debida confidencialidad, aplicando las medidas de seguridad informática establecidas en la Ley de protección de datos (LOPD) para impedir el acceso o uso indebido de sus datos, su manipulación, deterioro o pérdida.</p>

		<p>No obstante, el Usuario debe tener en cuenta que la seguridad de los sistemas informáticos nunca es absoluta. Cuando se facilitan datos personales por internet, dicha información pudiera ser recogida sin su consentimiento y tratada por terceros no autorizados. Casa Xaime declina, cualquier tipo de responsabilidad sobre las consecuencias de dichos actos pudieran tener para el Usuario, si publicó la información voluntariamente.</p>

		<p>Se informa al Usuario de la posibilidad de ejercer sus derechos de acceso, rectificación, cancelación y oposición mediante solicitud escrita y firmada, que podrá ser remitida al domicilio Casa Xaime - C/Lugar O Reto Nº1, 15315, Val de Xestoso - Monfero, A Coruña, adjuntando fotocopia del DNI o documento equivalente.</p>
		
		<p>Estos derechos serán atendidos sin perjuicio del deber de conservar ciertos datos en los términos legales y hasta que prescriban las eventuales responsabilidades derivadas de un posible tratamiento, o, en su caso, de una relación contractual.</p>
	</div>
</div>