<h3 class="text-center page-title">{{ 'PRIVACYPOLICY.TITLE' | translate }}</h3>
<hr>
<div class="jumbotron jumbotron-fluid pricing-data">
	<div style="font-size: 14px; margin-left: 20px;">
		<p>La entrada se realizará a partir de las 12:00 de la mañana y la salida será antes de las 14:00 del mediodía, salvo aviso especial.</p>
		<p>Los precios son susceptibles de cambios en festivos locales y nacionales.</p>
		<p>Para una reserva superior a 1 semana, será necesario contactar con la dirección y recibir una confirmación por email o por teléfono.</p>
		<p>A la hora de ralizar una reserva, será necesario hacer un depósito cuya cuantía será indicada antes de realizarla, y que será devuelta mediante transferencia bancaria al día siguiente de abandonar el alojamiento, siempre y cuando se haya comprobado que no han habido desperfectos.</p>
	</div>
</div>