<footer class="footer fixed-footer bg-dark text-center">
	<div class="footer-contact">
		<span class="pull-left text-white" style="margin-left: 10px;">Casa Xaime - O Reto S/N, 12345, Monfero, A Coruña </span>
			<span class="socialMediaFooter pull-right">
		  	<a href="https://www.facebook.com/casaXaime">
	  			<img [src]='facebookLogo' height="20" width="20">
	  		</a>
	  		<a href="https://twitter.com/casaXaime">
	  			<img [src]='twitterLogo' height="20" width="20">
	  		</a>
	  		<a href="https://plus.google.com/casaXaime">
	  			<img [src]='googlePlusLogo' height="20" width="20">
	  		</a>
  		</span>
	</div>
</footer>