<footer class="footer fixed-footer bg-dark text-center">
	<div class="footer-contact">
		<span class="pull-left text-white" style="margin-left: 10px;">Casa Xaime - C/Lugar O Reto Nº1, 15315, Val de Xestoso - Monfero, A Coruña - <a href="mailto:info@casaxaime.com" target="_top">info@casaxaime.com</a></span>
			<span class="socialMediaFooter pull-right">
		  	<a href="https://www.facebook.com/casaXaime" title="Facebook">
	  			<i class="fa fa-facebook"></i>
	  		</a>
	  		<a href="https://twitter.com/casaXaime" title="Twitter">
	  			<i class="fa fa-twitter"></i>
	  		</a>
	  		<a href="https://www.instagram.com/casaXaime" title="Instagram">
	  			<i class="fa fa-instagram"></i>
	  		</a>
  		</span>
	</div>
</footer>